@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #2D2241;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Exo 2', sans-serif;
  padding: 16px;
}

.main {
  width: 100%;
  max-width: 500px;
}

.form {
  display: block;
  padding: 4px;
  &__label {
    display: block;
    font-size: 36px;
  }
  &__textarea {
    margin-top: 16px;
    width: 100%;
    min-height: 240px;
    border-radius: 16px;
    font-size: 22px;
    padding: 16px;
    resize: none;
  }
}

.button {
  display: flex;
  justify-content: flex-end;
  &__clear {
    background-color: red;
    width: 80px;
    align-items: center;
    color: white;
    font-size: 22px;
    font-family: 'Exo 2', sans-serif;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
  }
  &__load {
    background-color: rgb(3, 3, 180);
    width: 80px;
    align-items: center;
    color: white;
    margin-left: 16px;
    font-size: 22px;
    font-family: 'Exo 2', sans-serif;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
  }
  &__save {
    background-color: green;
    width: 80px;
    align-items: center;
    color: white;
    margin-left: 16px;
    font-size: 22px;
    font-family: 'Exo 2', sans-serif;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
  }
}