@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

body {
  background: #2D2241;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Exo 2', sans-serif;
}

.form {
  display: block;
}

.form__label {
  display: block;
}

.form__textarea {
  width: 500px;
  height: 300px;
}