@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

body {
  background: #2D2241;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Exo 2', sans-serif;
}

.form {
  display: block;
  padding: 4px;
}

.form__label {
  display: block;
  font-size: 36px;
}

.form__textarea {
  margin-top: 16px;
  width: 500px;
  height: 300px;
  border-radius: 16px;
  font-size: 22px;
  padding: 16px;
  resize: none;
}

.button__load {
  background-color: rgb(3, 3, 180);
  width: 80px;
  align-items: center;
  color: white;
  margin-left: 350px;
  font-size: 22px;
  font-family: 'Exo 2', sans-serif;
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
}

.button__save {
  background-color: green;
  width: 80px;
  align-items: center;
  color: white;
  margin-left: 16px;
  font-size: 22px;
  font-family: 'Exo 2', sans-serif;
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
}